on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: Formatting check

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt

      # Common directory
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./common/phm-icd/Cargo.toml -- --check

      # Host directory
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./host/phm-cli/Cargo.toml -- --check
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./host/phm/Cargo.toml -- --check

      # Firmware directory
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./firmware/nrf52-phm/Cargo.toml -- --check
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./firmware/phm-worker/Cargo.toml -- --check
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./firmware/blackpill-phm/Cargo.toml -- --check
